<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Catchframe</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Looks <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/home">Action</a></li>
          <li><a href="/home">Another action</a></li>
          <li><a href="/home">Something else here</a></li>
          <li><a href="/home">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
  <div id="div0" class="col-xs-12 col-sm-12 col-md-12">
    <div id="darker">
      <div class="div0brand">
      <h1>Looks</h1><h2>only the finest</h2><h5>that money can buy</h5></div>
    </div>
  </div>
</div>

<div class="row2">
  <div id="div1" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>EXP</h3></div></div>
  <div id="div2" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>GRAIN</h3></div></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div id="div3" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>GRADE</h3></div></div>
</div>



 
